/*
@media screen and (orientation:portrait) {
@-ms-viewport { width: 1024px !important; }
}
@media screen and (orientation:landscape) {
@-ms-viewport { width: 1024px; !important; }
}
*/

a:hover {
    text-decoration: none;
}

img {
    border: 0;
    padding: 0;
    margin: 0;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

body {
    margin: 0 auto;
    /* 300 - Light  |  400 - Medium  |  700 - Bold */
    font-family: 'Roboto', sans-serif;
}

img {
    border: none;
    margin: 0px;
}

.topo {
    background-color: #FFF;
    height: 275px;
    text-align: center;
}

.topo img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.menu {
    height: 48px;
    background-color: #b7aa6a;
    color: #4c321e;
    text-align: center;
}

.menu ul {
    margin: 0px;
    list-style: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.menu img {
    vertical-align: middle;
}

.menu li {
    display: inline;
    margin-right: 4%;
}

.menu li a,
.menu li a:hover,
.menu li a:focus {
    color: #4c321e;
    font-size: 21px;
    font-weight: 300;
    text-decoration: none;
}

.menu-mobile{
    display: none;
}

.menu-trigger {
	display: none;
}

.menu li a:hover {
    color: #f6f1c7;
}

.menu li:last-child {
    margin-right: 0px;
}

.img-top {
    width: 100%;
    height: auto;
}

h1,
h3 {
    margin: 0px;
}

h1 {
    font-size: 31px;
    font-weight: 300;
}

h3 {
    font-size: 21px;
    font-weight: 700;
}

.produtos article {
    margin-top: 10px;
    padding-bottom: 50px;
}

.produtos .col-sm-3 {
    border-left: 2.5px dashed #e1d8b7;
}

.produtos {
    background-color: #efebdb;
}

.produtos h3 {
    color: #5a0d0e;
    padding: 10px 0 10px 0;
    width: 82%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    font-size: 26px;
    text-decoration: none;
}

.produtos a,
.produtos a:focus,
.produtos a:hover,
.produtos a:visited {
    color: #5a0d0e;
    text-decoration: none;
}

.produtos h3:last-child {
    color: #c3ad68;
    font-weight: 400;
}

.produtos h3:first-child {
    color: #8d793c;
    padding: 30px 0 15px 0;
    margin: 0px;
    font-size: 28px;
    /*    width: 75%;*/
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.produtos header {
    text-align: center;
}

.center {
    margin: 0 auto;
    width: 80%;
}

.counter-container p,
.counter div,
.counter {
    display: inline-block;
}

.counter {
    margin-left: 10px;
}

.minus,
.plus {
    background-color: #590e10;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.minus a,
.plus a,
.minus a:hover,
.plus a:hover {
    text-decoration: none;
    color: #FFF;
}

.quantity input {
    color: #590e10;
    text-align: center;
    font-weight: 700;
    border-radius: 20px;
    width: 38px;
    border: 1px solid #b9b5a4;
}

.ingredient {
    color: #402700;
    font-size: 15px;
    font-weight: 400;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    min-height: 63px;
}

.size {
    color: #c3ad68;
    font-weight: 300;
}

.size,
.price {
    font-size: 18px;
}

.price {
    color: #5a0d0e;
    font-weight: 500;
}

.col4 {
    border-right: 2.5px dashed #e1d8b7;
}

.beige-block {
    background-color: #d6c9a0;
    padding: 15px 18% 15px 18%;
    text-align: center;
    margin-bottom: 25px;
    width: 85%;
    color: #4c321e;
    font-weight: 700;
    font-size: 19px;
}

.red-block {
    background-color: #7b0e10;
    color: #FFF;
    width: 85%;
    font-size: 19px;
    padding: 15px 12% 15px 12%;
    font-weight: 300;
}

.green-block::before {
    content: url(../images/scissor.png);
    position: absolute;
    top: -20px;
    left: 20px;
}

.green-block {
    background-color: #efebdb;
    border: 2px dashed #043a17;
    padding: 8px;
    color: #fff;
    width: 85%;
    font-size: 19px;
    height: 100%;
    font-weight: 300;
}

.green-block-inside p {
    margin: 0px;
}

.beige-block,
.red-block,
.green-block {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.green-block-inside img,
.red-block img {
    margin-bottom: 15px;
}

.green-block-inside {
    background-color: #043a17;
    padding: 23% 25px 23% 25px;
}

.summary a,
.summary h1,
.summary img,
.summary div {
    display: inline-block;
    vertical-align: middle;
}

.summary h1 {
    color: #5a0d0e;
    font-weight: 700;
    padding: 0px;
    left: 0px;
    display: inline;
}

.summary a,
.summary a:hover,
.summary a:focus {
    background-color: #5a0d0e;
    color: #Fff !important;
    font-weight: 400;
    font-size: 22px;
    padding: 2px 24px 2px 2px;
    border-radius: 50px;
    text-decoration: none;
}

.summary div {
    padding: 2px 124px 2px 124px;
    border-radius: 50px;
    border: 1px solid #97927a;
    color: #b7aa6a;
    font-size: 38px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    width: 100%;
    display: inline;
}

.msg {
    font-size: 20px;
    color: red;
    position: absolute;
    display: block;
    left: 72%;
}

.summary input:focus {
    outline: none;
}

.summary {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.faca-pedido p {
    font-size: 27px;
    font-weight: 300;
}

.faca-pedido-container a,
.faca-pedido-container a:focus,
.faca-pedido-container a:hover,
.faca-pedido-container a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.faca-pedido p,
.faca-pedido div {
    display: inline-block;
}

.faca-pedido p {
    margin-right: 20px;
}

.faca-pedido-container div {
    border: 1px solid #fff;
    padding: 20px 25px 20px 20px;
    font-size: 25px;
    font-weight: 300;
    margin-left: 5px;
}

.faca-pedido {
    background-color: #b7aa6a;
    color: #fff;
    padding: 35px 0 35px 0 !important;
    margin-bottom: 0px !important;
}

.faca-pedido-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.img-bottom img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.img-bottom {
    width: 100%;
    height: auto;
}

.img-bottom-container {
    margin: 0px !important;
    background-image: url(../images/img-footer.jpg);
    text-align: center;
    padding: 3.4% 0 3.4% 0;
    background-repeat: no-repeat;
    background-position: center;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


/*Medias queries */

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.como-funciona .row {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.como-funciona p {
    color: #fff;
    font-weight: 300;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.como-funciona h3 {
    color: #8ba553;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 20px 0;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.como-funciona {
    background-color: #043a17;
    text-align: center;
    padding-bottom: 50px;
}

.equipe {
    background-color: #f3f1e7;
    padding: 50px 0 0px 0;
}

.baloon {
    position: relative;
    left: 49.5%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: inline-block;
}

.foto-ana,
.foto-gisele {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.foto-ana {
    position: absolute;
    left: 25%;
    top: 10%;
    z-index: 999;
}

.foto-gisele {
    position: absolute;
    left: -3%;
    top: 25%;
}

.infos h3 {
    color: #402700;
    font-size: 20px;
    font-weight: 500;
}

.infos p {
    font-size: 11px;
    font-weight: 700;
    color: #b1a466;
}

.infos {
    text-align: center;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100%;
}

.como-comecou h1 {
    font-size: 29px;
    color: #c3ad68;
    margin-bottom: 10px;
}

.como-comecou p {
    color: #402700;
    font-size: 20px;
    font-weight: 300;
}

.como-comecou {
    position: absolute;
    top: 10%;
    left: 59%;
    right: 8%;
}

.img-rodape-container {
    margin: 0px !important;
    background-image: url(../images/bg-rodape.jpg);
    text-align: center;
    padding: 3.4% 0 3.4% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.faixa-desenhos {
    width: 100%;
    height: auto;
}

.newsletter label,
.newsletter input {
    display: block;
}

.newsletter {
    color: #bbad6b;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    transform: translateY(25%);
    -webkit-transform: translateY(25%);
    -ms-transform: translateY(25%);
    -o-transform: translateY(25%);
    margin-left: 15%;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
    color: #725b28;
    background-color: transparent;
    border: 1px solid #bbad6b;
    padding: 4px 80px 4px 15px;
    margin-top: 8px;
    display: inline-block;
}

.newsletter input[type="button"] {
    display: inline-block;
    color: #563712;
    background-color: #bbad6b;
    border: 2px solid #bbad6b;
    font-size: 14.3px;
    padding: 6px 10px 4px 10px;
    position: relative;
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    left: -4px;
    font-weight: 700;
}

.newsletter input {
    outline: none;
}

.newsletter input::-webkit-input-placeholder {
    font-style: italic;
    color: #725b28;
}

.newsletter input:-moz-placeholder {
    font-style: italic;
    color: #725b28;
}

.newsletter input::-moz-placeholder {
    font-style: italic;
    color: #725b28;
}

.newsletter input:-ms-input-placeholder {
    font-style: italic;
    color: #725b28;
}

.bt-conheca {
    color: #bbad6b;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    background-color: transparent;
    border: 1px solid #bbad6b;
    padding: 4px 0px 4px 0px;
    width: 81%;
    margin-top: 50px;
}

.clear-margin-top {
    margin-top: 0px;
}

.siga div {
    margin-bottom: 30px;
}

.siga a,
.siga a:hover,
.siga a:visited,
.siga a:focus {
    color: #bbad6b;
    text-decoration: none;
}

.siga {
    text-align: right;
    color: #bbad6b;
    font-size: 18px;
    font-weight: 300;
    margin-right: 40%;
    transform: translateY(25%);
    -webkit-transform: translateY(25%);
    -ms-transform: translateY(25%);
    -o-transform: translateY(25%);
}

.linha {
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.faixa-container {
    background-color: #f3f1e7;
}

@media screen and (max-width: 1680px) {
    .linha {
        width: 100%;
    }
    .como-funciona .row {
        width: 85%;
    }
}

@media screen and (max-width: 1366px) {
    .como-funciona .row {
        width: 95%;
    }
    .siga {
        margin-right: 20%;
    }
    .newsletter {
        margin-left: 0;
    }
}

@media screen and (max-width:1280px) {
    .beige-block,
    .red-block {
        width: 100%;
    }
    .green-block {
        width: 95%;
    }
}

@media screen and (max-width:1230px) {
    .faca-pedido-container img {
        transform: scale(1.8);
        margin-right: 20px;
    }
    .faca-pedido-container div {
        margin-top: 20px;
    }
    .faca-pedido p,
    .faca-pedido div {
        font-size: 40px;
    }
    .faca-pedido p,
    .faca-pedido div {
        display: block;
    }
    .faca-pedido-container {
        display: inline-block !important;
        width: 90%;
        text-align: center;
    }
    .newsletter input {
        padding: 4px 60px 4px 15px;
    }
    .summary {
        width: 90%;
        font-size: 40px;
    }
    .summary div,
    .summary a {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .summary div {
        margin-right: 0px;
        width: 80%;
        margin-bottom: 20px;
        margin-right: 0px;
        display: block;
        margin-left: 0px;
        font-size: 50px;
    }
    .summary h1 {
        text-align: center;
        width: 100%;
        display: block;
        font-size: 70px;
    }
    .summary a img {
        transform: scale(1.7);
        -ms-transform: scale(1.7);
        -webkit-transform: scale(1.7);
        -o-transform: scale(1.7);
        margin-left: 20px;
        margin-right: 35px;
    }
    .summary a,
    .summary a:hover,
    .summary a:focus {
        margin-top: 0px;
        margin-left: 0px;
        width: 80%;
        display: block;
        background-color: #5a0d0e;
        color: #Fff;
        font-size: 34px;
        padding: 20px 24px 20px 2px;
        text-decoration: none;
    }
    .msg {
        left: 26%;
        margin-top: 20px;
        font-size: 32px;
    }
}

@media screen and (max-width:1024px) {
    .img-bottom-container img {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    .col-md-15 img {
        transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -ms-transform: scale(1.6);
        -o-transform: scale(1.6);
    }
    .col-md-15 p {
        font-size: 35px;
        width: 100%;
    }
    .col-md-15 h3 {
        padding: 10px 0 10px 0;
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        font-size: 65px;
        font-weight: 700;
    }
    .col-md-15 {
        width: 100% !important;
    }
    .siga {
        margin-right: 20%;
    }
    .newsletter {
        margin-left: -5%;
    }
    .newsletter input[type="email"] {
        width: 96%;
    }
    .newsletter input[type="button"] {
        font-size: 47px;
        position: absolute;
        left: 96%;
        top: 30%;
        padding-top: 5px;
    }
    .newsletter {
        width: 80%;
    }
    .bt-conheca {
        width: 96%;
        margin-top: 25px;
    }
    .produtos .col-sm-3 img {
        transform: scale(2);
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .produtos .col-sm-3 {
        width: 100%;
    }
    .col-md-15 {
        width: 33%;
    }
    .produtos article .row h3 {
        color: #5a0d0e;
        padding: 10px 0 10px 0;
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        font-size: 65px;
        font-weight: 700;
    }
    .ingredient {
        color: #402700;
        font-size: 40px;
        min-height: 110px;
        width: 80%;
        margin-bottom: 30px;
    }
    .size,
    .price {
        font-size: 40px;
    }
    .minus,
    .plus {
        background-color: #590e10;
        width: 100px;
        height: 100px;
        font-size: 62px;
        padding-top: 1px;
    }
    .quantity input {
        border-radius: 40px;
        width: 144px;
        font-size: 40px;
        margin: 0px 10px 0 10px;
        height: 90px;
    }
    .bloco-condicoes,
    .bloco-descontos {
        width: 50% !important;
        padding: 0px;
        border: 0px !important;
        position: relative;
    }
    .bloco-condicoes {
        padding-right: 3%;
        !important;
        padding-left: 3%;
        !important;
    }
    .newsletter input {
        padding: 4px 60px 4px 15px;
    }
    .faixa-container {
        background-image: url(../images/faixa.png);
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .faixa-desenhos {
        display: none;
    }
    .baloon {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        left: 0;
    }
    .como-comecou p {
        font-size: 22px;
    }
    .como-comecou h1 {
        font-size: 32px;
    }
    .como-comecou {
        left: 57%;
        right: 5%;
        top: 2%;
    }
    .infos div {
        transform: scale(1.8);
        -webkit-transform: scale(1.8);
        -o-transform: scale(1.8);
        -ms-transform: scale(1.8);
        margin-top: 22px;
    }
    .infos {
        margin-top: -30px;
    }
    .infos img {
        margin-right: 10px;
    }
    .infos img:last-child {
        margin-right: 0px;
    }
    .infos p {
        font-size: 18px;
    }
    .menu {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        height: 220px;
        line-height: 660%;
    }
    .menu li a,
    .menu li a:hover,
    .menu li a:focus {
        font-size: 50px;
    }
    .menu li {
        margin-right: 8%;
    }
    .menu li:last-child {
        display: none;
    }
    .topo {
        margin-top: 0px;
    }
    .counter-container {
        margin-bottom: 20px;
    }
    .quantity {
        margin-top: 10px;
    }
    .topo img {
        top: 50%;
        margin-top: 50px;
        transform: scale(1.5) translateY(-50%);
        -webkit-transform: scale(1.5) translateY(-50%);
        -ms-transform: scale(1.5) translateY(-50%);
        -o-transform: scale(1.5) translateY(-50%);
        margin-left: -131px;
    }
    .topo {
        height: 400px;
    }
    .green-block-inside {
        padding: 24% 25px 24.5% 25px;
    }
    .bloco-condicoes div,
    .bloco-descontos div {
        font-size: 35px !important;
    }
    .green-block::before {
        content: "";
    }
    .green-block {
        width: 100%;
        padding: 0;
        border: 0;
    }
    .foto-ana,
    .foto-gisele {
        position: relative;
        display: inline-block;
        left: 35%;
        transform: translateX(-100%) scale(1.5);
        -webkit-transform: translateX(-100%) scale(1.5);
        -ms-transform: translateX(-100%) scale(1.5);
        -o-transform: translateX(-100%) scale(1.5);
        margin-top: 50px;
        float: left;
    }
    .infos div {
        width: 50%;
        margin-left: 25%;
    }
    section {
        background-color: #e9e3ce;
    }
    /*
.equipe::after{
    content: url(../images/base-baloon.png);
    position: relative;
    top: 120px;
}
*/
    .como-comecou {
        position: relative;
        left: 0;
        margin-top: 640px;
        margin-bottom: 0px !important;
    }
    .como-comecou h1 {
        text-align: center;
        font-size: 65px;
    }
    .como-comecou p {
        font-size: 28px;
        text-align: center;
    }
    .foto-ana {
        margin-right: 30%;
    }
    .bg-baloon {
        display: none;
    }
    .col-sm-4 {
        width: 100% !important;
    }
    .newsletter,
    .siga,
    .bt-conheca {
        font-size: 50px;
    }
    .newsletter {
        margin-left: 0%;
    }
    .siga {
        margin-top: 120px;
        margin-right: 0%;
        text-align: center;
        transform: none;
    }
    .img-rodape-container img {
        display: none;
    }
    .menu-trigger span,
    .menu-trigger span::after,
    .menu-trigger span::before {
        position: absolute;
        width: 58px;
        height: 8px;
        background-color: #FFF;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 50px;
    }
    .menu-trigger span::after {
        top: 14px;
    }
    .menu-trigger span::before {
        bottom: 14px;
    }
    .menu-trigger span::before,
    .menu-trigger span:after {
        /* these are the upper and lower lines */
        content: '';
        left: 0;
        -webkit-transition: -webkit-transform 0.2s 0.5s;
        -moz-transition: -moz-transform 0.2s 0.5s;
        transition: transform 0.2s 0.5s;
    }
    .menu-trigger span {
        top: 58px;
        left: 34px;
        -webkit-transition: background 0.2s 0.5s;
        -moz-transition: background 0.2s 0.5s;
        transition: background 0.2s 0.5s;
    }
    .menu-trigger {
        cursor: pointer;
        position: relative;
        float: left;
        height: 131px;
        width: 131px;
        margin-top: 0px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        color: transparent;
        background-color: #4c321e;
    }
    .nav-is-visible {
        animation-name: fadein-background;
        animation-duration: 1s;
        background-color: #e00021;
    }
    @keyframes fadein-background {
        from {
            background-color: #4c321e;
        }
        to {
            background-color: #e00021;
        }
    }
    @keyframes fadeout-background {
        to {
            background-color: #4c321e;
        }
        from {
            background-color: #e00021;
        }
    }
    .nav-is-visible span {
        /* hide line in the center */
        background-color: rgba(255, 255, 255, 0);
        margin-top: 8px;
    }
    .nav-is-visible span::before,
    .nav-is-visible span::after {
        /* keep visible other 2 lines */
        background-color: white;
    }
    .nav-is-visible span::before {
        -webkit-transform: translateY(8px) rotate(-45deg);
        -moz-transform: translateY(8px) rotate(-45deg);
        -ms-transform: translateY(8px) rotate(-45deg);
        -o-transform: translateY(8px) rotate(-45deg);
        transform: translateY(8px) rotate(-45deg);
    }
    .nav-is-visible span::after {
        -webkit-transform: translateY(-19px) rotate(45deg);
        -moz-transform: translateY(-19px) rotate(45deg);
        -ms-transform: translateY(-19px) rotate(45deg);
        -o-transform: translateY(-19px) rotate(45deg);
        transform: translateY(-19px) rotate(45deg);
    }
    .menu {
        display: none;
    }

    .menu-trigger {
	   display: block;
        top: 0;
    }

    .menu-mobile {
        display: none;
        overflow: hidden;
    }
    .menu-mobile {
        background-color: #b7aa6a;
        color: #4c321e;
        text-align: center;
    }
    .menu-mobile ul {
        margin: 0px;
        list-style: none;
        margin-bottom: 30px;
    }

    .menu-mobile li {
        display: block;
        margin-top: 10px;
    }
    .menu-mobile li a,
    .menu-mobile li a:hover,
    .menu-mobile li a:focus {
        color: #4c321e;
        font-size: 55px;
        font-weight: 300;
        text-decoration: none;
    }
    .menu-mobile li a:hover {
        color: #f6f1c7;
    }


}
