@media screen and (max-width: 1024px) {
    .container-menu {
        margin: auto !important;
        float: none !important;
        top: 0 !important;
        width: 100% !important;
        display: none !important;
    }
    .logo {
        float: none !important;
        position: relative !important;
        display: block;
        /*        display: none;*/
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
        width: auto !important;
        height: auto !important;
    }
    .logo img {
        position: relative;
        left: 50%;
        transform: translateX(-50%) scale(1.8);
        -moz-transform: translateX(-50%) scale(1.8);
        -ms-transform: translateX(-50%) scale(1.8);
        -webkit-transform: translateX(-50%) scale(1.8);
        padding-top: 30px;
        margin-bottom: 80px;
    }
    .icons {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        display: block !important;
        /*        display: none;*/
        float: left;
        position: relative;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .icons img {
        transform: scale(1.5);
        margin-right: 100px !important;
    }
    .icons img:last-child {
        margin-right: 0px !important;
    }
    .small-icons {
        display: none !important;
        width: auto;
        float: left;
        left: 0;
        position: absolute;
        margin-top: 60px;
        /*        position: relative !important;*/
        left: 50%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .small-icons img {
        display: inline-block !important;
        /*        display: none;*/
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    header {
        height: 140px !important;
        margin: 0 auto;
        left: 50%;
        /*        display: none;*/
    }
    .newsletter {
        display: none !important;
    }
    .foot-green {
        height: 100px !important;
        position: relative;
    }
    .foot-green aside {
        display: none !important;
    }
    .foot-green nav {
        display: none !important;
    }
    .services-block {
        width: 100% !important;
        text-align: center;
        margin-right: 0px !important;
        display: block !important;
        vertical-align: top;
        margin-top: 140px !important;
        left: 0 !important;
    }
    .services-block:first-child {
        margin-top: 0px !important;
    }
    .services-block p {
        font: 900 50px / 50px 'Open Sans', sans-serif!important;
        padding-left: 10%;
        padding-right: 10%;
    }
    .services-block h1 {
        font: 900 70px / 70px 'Open Sans', sans-serif!important;
    }
    .services h1 {
        padding: 0 10% 0 10% !important;
    }
    .depH1 {
        display: block !important;
        color: #64964b;
        text-align: center;
    }
    .cliente-block p {
        font: 36px / 41.2px 'Open Sans', sans-serif !important;
        color: #868686;
        display: block;
        vertical-align: middle;
        padding: 0 12% 0 12%;
        text-align: center;
    }
    .cliente-block {
        margin: 100px 0 100px 0;
        vertical-align: middle;
        display: block;
        width: 100%;
    }
    .depoimento {
        width: 100% !important;
        max-width: 100% !important;
        display: inline-block;
        margin-left: 0px !important;
    }
    .abre-aspas {
        display: none !important;
    }
    .fecha-aspas {
        display: none !important;
    }
    .cliente-block img {
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .menu-mobile {
        height: auto;
    }
    .menu-mobile img {
        display: block !important;
        position: relative;
        margin: 60px 0 60px 0;
    }
    .btn-menu {
        display: block !important;
    }
    .btn-menu img {
        vertical-align: bottom;
        display: inline-block;
        z-index: 1000;
        position: relative;
    }
    .foot-cont-mobile {
        text-align: center;
        color: #ffffff;
        font: 400 220% 'Open Sans', sans-serif;
        display: inline-block !important;
        width: 100%;
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    }
    .geral {
        padding-bottom: 0px !important;
    }
    .agencia-container p {
        text-align: center !important;
    }
    .registro2 p {
        width: 60% !important;
    }
    .registro1 p {
        font: 700 168% 'Open Sans', sans-serif !important;
        width: 98% !important;
    }
    .registro4 {
        padding: 15px 5% 15px 5% !important;
    }
    .reg-block:last-child {
        margin-right: 10% !important;
    }
    .reg-block:first-child {
        margin-left: 10% !important;
    }
    .reg5-row {
        display: block !important;
    }
    .reg6-container {
        width: 80% !important;
    }
    .faixa-verde-logo h2 {
        margin: 0;
        padding: 0;
        font-size: 200%;
        font-weight: 900;
    }
    .blocos-logo {
        width: 94% !important;
    }
    .blocos-logo div {
        width: 48% !important;
    }
    .logo2 h2 {
        padding: 0px 4% 20px 4% !important;
    }
    .logo3 {
        padding: 30px 2% 30px 2% !important;
    }
    .logo4 h2 {
        padding: 20px 4% 20px 4% !important;
    }
    .breafing form {
        width: 96% !important;
    }
    .breafing {
        display: none;
    }
    .redes-agencia-p {
        margin-right: 0% !important;
        width: 68% !important;
        font: 900 36px 'Open Sans', sans-serif !important;
    }
    .redes-blocos {
        width: 98% !important;
    }
    .redes-titulo-bloco {
        font: 900 160% 'Open Sans', sans-serif !important;
        transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%)!important;
        -o-transform: translateY(-50%)!important;
        -webkit-transform: translateY(-50%) !important;
    }
    .redes-circulo p {
        transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        -webkit-transform: none !important;
        font: 900 42px "Open Sans", sans-serif !important;
    }
    .frases-bloco {
        padding: 10px 5% 10px 5% !important;
    }
    .registro-alerta:after {
        top: -25px;
        position: absolute;
    }
    .form-registro input {
        padding: 25px 2px 25px 2px !important;
        font-size: 30px !important;
    }
    .form-registro label {
        font-size: 30px !important;
    }
    .reg6-container h2 {
        font-size: 51px !important;
    }
    .contato input[type="submit"],
    .reg6-container input[type="submit"],
    .breafing input[type="submit"] {
        font: 900 30px 'Open Sans', sans-serif !important;
        padding: 25px 30px 25px 30px !important;
        width: 100% !important;
        margin-top: 30px;
    }
    .blocos-logo div p {
        font-size: 25px !important;
    }
    .logo-verde1 {
        margin-top: 850px !important;
    }
    .redes-h2 {
        padding: 20px 8% 30px 8% !important;
    }
    .rede-posicionar p {
        text-align: left !important;
        font: 900 22px 'Open Sans', sans-serif !important;
        width: 100% !important;
        left: 0px !important;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        margin-top: 20px;
    }
    .redes-bloco-text {
        font: 400 italic 24px 'Open Sans', sans-serif !important;
    }
    .frases-bloco {
        font-size: 26px !important;
    }
    .redes-detalhes {
        width: 100% !important;
    }
    .redes-list:first-child {
        margin-top: 60px;
        margin-right: 0px !important;
    }
    .redes-list {
        width: 80% !important;
        font-size: 21px !important;
        margin-bottom: 60px !important;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .redes-form-container {
        width: 90% !important;
    }
    .redes-form h2 {
        font-size: 45px !important;
    }
    .inline-form label {
        width: 45% !important;
    }
    .redes-form input[type="submit"] {
        width: 100% !important;
    }
    .art-web-1 h1 span {
        margin-left: 0px !important;
        display: block !important;
        position: relative !important;
        margin-top: -50px !important;
    }
    .web-globo {
        right: 16% !important;
        margin-top: -220px !important;
    }
    .art-web-1 p {
        width: 52% !important;
    }
    .art-web-2 h2 {
        font-size: 50px !important;
        width: 78% !important;
        text-align: center !important;
        padding-left: 0px !important;
        margin: 0;
        left: 50% !important;
        position: relative !important;
        transform: translateX(-50%) !important;
        margin-top: 40px !important;
    }
    .web-motivo {
        min-width: 100% !important;
        width: auto !important;
        text-align: center;
        margin-right: 0px !important;
        margin-bottom: 30px;
    }
    .web-motivo p {
        font-size: 30px !important;
        line-height: 128% !important;
        padding: 0 30px 0 30px !important;
    }
    .web-naoespere-h2:last-child {
        margin-left: 30px !important;
        width: 58% !important;
        font-size: 32px !important;
        margin-bottom: 60px !important;
    }
    .web-business {
        right: -120px !important;
    }
    .registro4 p {
        font: 100 28px 'Open Sans', sans-serif !important;
    }
    .reg-block p {
        font: 100 28px 'Open Sans', sans-serif !important;
    }
    .redes-form input[type="submit"] {
        width: 100% !important;
    }
    .jobBlock h1 {
        font-size: 42px !important;
    }
    .jobBlock a,
    .jobBlock a:active,
    .jobBlock a:focus,
    .jobBlock a:visited,
    .jobBlock p {
        font-size: 30px !important;
        margin-bottom: 10px !important;
    }
    .jq-icon-info,
    .jq-icon-error,
    .jq-icon-success {
        width: 100% !important;
        font-size: 30px !important;
        padding-top: 30px !important;
        background-size: 5% !important;
        padding-left: 80px !important;
        padding-bottom: 30px !important;
    }
    .jq-toast-wrap {
        width: 100% !important;
        top: 0px !important;
        left: 0px !important;
    }
    .jq-toast-single h2 {
        font-size: 34px !important;
        margin: 0 0 18px !important;
    }
    .sec-web1 {
        padding-bottom: 0px !important;
    }
}
