
@media screen and (max-width: 1280px) and (min-width: 1025px){
    .jobBlock{
        -webkit-transform: scale(0.7);-ms-transform: scale(0.7);transform: scale(0.7) ;
        padding: 0px 6px 0px 6px !important;
    }
    .jobBlock h1{
        font-size: 30px !important;
    }

    .jobBlock p,.jobBlock a{
        font-size: 20px;
    }
}
