@media screen and (min-width: 1025px) and (max-width: 1600px){

    .reg-block:last-child  {
        margin-right: 15% !important;
    }

    .reg-block:first-child  {
        margin-left: 15% !important;
    }

    .blocos-logo {
        width: 84% !important;
    }
    .blocos-logo div {
        width: 25% !important;
    }
}
