* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font: 900 350% 'Open Sans', sans-serif;
}

.cinza {
    color: #9f9f9f !important;
}

h2 {
    font: 900 175% 'Open Sans', sans-serif;
}

h3 {
    font: 900 220% 'Open Sans', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background-color: #fafafa;
    padding-top: 5px;
    padding-bottom: 10px;
    height: 110px;
}

.container-menu {
    margin-right: 10%;
    float: right;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.logo {
    margin-left: 10%;
    /*    margin-top: 5px;*/
    vertical-align: middle;
    width: 15.6%;
    height: auto !important;
    float: left;
}

.banner {
    width: 100%;
    vertical-align: bottom;
}

.icons {
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.icons img {
    margin-right: 30px;
    vertical-align: middle;
}

.small-icons img {
    display: block;
    position: relative;
}

.small-icons img:first-child {
    margin-bottom: 10px;
}

.small-icons img:last-child {
    margin-top: 10px;
}

.small-icons {
    display: inline-block;
    vertical-align: middle;
}

.newsletter {
    background-color: #595959;
    height: 101px;
    width: 100%;
    display: inline-block;
}

.newsletter input[type="submit"] {
    background-color: #96c846;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: 0px;
    box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.newsletter input[type="email"] {
    border-radius: 12px;
    font-size: 14px;
    text-align: center;
    padding: 4px;
    line-height: 24px;
    color: #9f9f9f;
}

::-webkit-input-placeholder {
    color: #9f9f9f;
    font-weight: 900;
}

::-moz-placeholder {
    color: #9f9f9f;
    font-weight: 900;
}


/* firefox 19+ */

:-ms-input-placeholder {
    color: #9f9f9f;
    font-weight: 900;
}


/* ie */

input:-moz-placeholder {
    color: #9f9f9f;
    font-weight: 900;
}

.newsletter form {
    margin: 0;
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
}

.newsletter form p,
.newsletter form input {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    position: relative;
    top: 50%;
}

.newsletter form p {
    margin-right: 10px;
}

.foot-green {
    height: 250px;
    background-color: #96c846;
    width: 100%;
}

.foot-green nav ul {
    list-style: none;
    margin: 0px;
}

.foot-green nav ul li {
    display: inline;
    padding-right: 15px;
    font: 700 16px / 24px 'Open Sans', sans-serif;
}

.foot-green nav {
    position: relative;
    float: left;
    margin-right: 70px;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.foot-container {
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    height: 100%;
    width: auto;
}

.foot-container aside {
    position: relative;
    display: inline-block;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #edebf0;
    font: 600 12px / 16.8px 'Open Sans', sans-serif;
}

.foot-container aside p {
    margin: 0px;
    font: 600 16px / 20px 'Open Sans', sans-serif;
    color: #edebf0;
}

.switch {
    list-style-type: none;
    position: relative;
    width: auto;
    margin: 12px 0 4px 0;
    height: 15px;
    font-size: 0px;
    left: 50%;
    padding: 0;
    float: left;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.sw-icon {
    display: inline-block;
    width: 33px;
    height: 15px;
    background-color: #96c846;
    margin-right: 6px;
}

.sw-icon:last-child {
    margin-right: 0px !important;
}

.sw-selected {
    background-color: #64964b;
}

.services-block {
    width: 200px;
    min-width: 12%;
    text-align: center;
    margin-right: 100px;
    display: inline-block;
    vertical-align: top;
}

.services-block:last-child {
    margin-right: 0px !important;
}

.criacao h1 {
    color: #000 !important;
}

.services-block h1 {
    color: #000000;
    font: 900 30px / 32px 'Open Sans', sans-serif;
    text-align: center;
}

.agencia-container h1 {
    text-align: center;
    margin: 0;
}

.a-empresa h1 {
    margin-bottom: -12px;
    margin-top: 0px;
}

.sec-sobre h1 {
    color: #9f9f9f;
    margin-bottom: 0;
}

.a-empresa p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.sec-sobre p {
    color: #000000;
    font: 100 204% 'Open Sans', sans-serif;
}

.services-block p {
    font: 16px / 22px 'Open Sans', sans-serif;
    color: #a0a0a0;
    text-align: center;
}

.agencia-container p {
    text-align: right;
}

.services h1 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.txtCenter {
    text-align: center;
}

.services-blocks {
    position: relative;
    height: 100%;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    vertical-align: bottom;
    padding-top: 30px;
}

.services {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.faixa-verde {
    background-color: #96c846;
    padding: 30px 0 30px 0;
}

.faixa-verde p {
    font: 900 220% 'Open Sans', sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 0;
    position: relative;
}

.trabalhos {
    background-color: #e3e3e3;
    height: auto;
    min-height: 640px;
    padding-top: 30px;
}

.trabalhos h1 {
    margin: 0px;
    padding-top: 30px;
}

.imgs-trabalhos img {
    margin-right: 25px;
    margin-left: 25px;
    display: inline;
    margin-bottom: 25px;
    margin-top: 25px;
}

.imgs-trabalhos {
    max-width: 1025px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    height: auto;
    text-align: center;
    padding-top: 20px;
}

.clear {
    clear: both;
}

.clientes {
    background-color: #FFF;
    height: 100%;
    width: 100%;
}

.clientes h1 {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.cliente-block img {
    display: inline-block;
    vertical-align: top;
}

.depH1 {
    display: inline-block;
    color: #64964b;
}

.cliente-block p {
    font: 16px / 21.2px 'Open Sans', sans-serif;
    color: #868686;
    display: block;
    vertical-align: middle;
}

.cliente-block {
    position: relative;
    margin: 100px 0 100px 0;
    vertical-align: middle;
    display: block;
    max-width: 950px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.depoimento {
    max-width: 720px;
    display: inline-block;
    margin-left: 30px;
}

.menu-mobile {
    display: none;
}

.btn-menu {
    background-color: #fafafa;
    display: none;
}

.btn-menu p {
    margin: 0px;
    text-align: center;
}

.gr-mobi-menu {
    position: relative;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.foot-cont-mobile {
    display: none;
}

footer {
    position: relative;
    width: 100%;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

.geral {
    min-height: 100%;
    position: relative;
}

.a-empresa {
    background-color: #fafafa;
    margin: 0 auto;
    vertical-align: middle;
    /*
    padding-top: 60px;
    padding-bottom: 35px;
*/
    height: 100%;
    padding: 60px 40px 35px 40px;
}

.a-empresa-container {
    text-align: center;
    vertical-align: middle;
}

.agencia-container div {
    display: inline-block;
    position: relative;
    max-width: 890px;
}

.agencia-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}

.agencia {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e3e3e3;
    width: 100%;
    text-align: center;
}

.diferencial {
    margin: 0 auto;
    text-align: center;
    padding: 0 50px 0 50px;
}

.diferencial-container {
    margin: auto;
    text-align: center;
}

.sobre-end {
    background-color: #bbbbbb;
    margin: 0 auto;
    padding: 0 100px 0 100px;
}

.sobre-end-container {
    color: #ffffff !important;
    position: relative;
    text-align: center;
    margin: auto;
    padding: 40px 0 40px 0;
}

.sobre-end-container h2 {
    margin: 0px;
}

.aspas:before {
    content: url("../images/aspas_abre.png");
}

.aspas:after {
    content: url("../images/aspas_fecha.png");
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #64964b;
}

.registro1 {
    background-color: #fafafa;
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 25px 0 60px 0;
}

.registro1 p {
    font: 700 175% 'Open Sans', sans-serif;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.registro2 p {
    font: 700 168% 'Open Sans', sans-serif;
    margin: 0 auto;
    text-align: left;
    color: white;
    width: 72%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
}

.registro-alerta:after {
    content: url(../images/icon_alerta.png);
}

.registro2 {
    background-color: #363435;
    position: relative;
    min-height: 150px;
}

.registro-alerta {
    margin-left: 10%;
    z-index: 999;
    position: absolute;
    top: -28%;
}

.registro3 {
    background-color: #fafafa;
    padding-top: 30px;
    padding-bottom: 30px;
}

.registro3 p {
    color: #999999;
    font: 700 196% 'Open Sans', sans-serif;
    text-align: center;
}

.registro4 {
    color: #ffffff;
    background-color: #96c846;
    padding: 30px 15% 30px 15%;
    text-align: center;
}

.registro4 h2 {
    margin: 0;
}

.registro4 p {
    font: 100 120% 'Open Sans', sans-serif;
}

.reg-block {
    max-width: 348px;
    text-align: center;
    display: inline-block !important;
    vertical-align: top;
    position: inherit;
}

.reg-block p {
    font: 100 145% 'Open Sans', sans-serif;
}

.reg-block div {
    height: 200px;
}

.reg-block:first-child {
    margin-left: 20%;
}

.reg-block:last-child {
    float: right;
    margin-right: 20%;
}

.reg5-row {
    display: block;
}

.reg5-row:first-child {
    margin-bottom: 40px;
}

.registro5 {
    padding: 30px 0 30px 0;
}

.form-registro label {
    font-weight: 900;
}

.form-registro input,
.form-registro label {
    display: block;
    width: 100%;
}

.reg6-container h2 {
    text-align: center;
}

.reg6-container input[type="button"], .breafing input[type="button"]{
    background-color: #595959;
    border: 1px solid #595959;
    color: white;
    font: 900 100% 'Open Sans', sans-serif;
    padding: 5px 30px 5px 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.reg6-container {
    width: 40%;
    color: #9f9f9f;
    margin: 0 auto;
}

.registro6 {
    padding: 30px 0 30px 0;
    display: inline-block;
    width: 100%;
}

.form-registro input {
    margin-bottom: 15px;
}

.form-registro input {
    border-left-style: none;
    border-top-style: none;
    border-right-color: #9f9f9f;
    border-bottom-color: #9f9f9f;
    background-color: #eeeeee;
    padding: 5px 2px 5px 2px;
    color: #9f9f9f;
    font: 100 120% 'Open Sans', sans-serif;
}


textarea{
    border-left-style: none;
    border-top-style: none;
    border-right-color: #9f9f9f;
    border-bottom-color: #9f9f9f;
    background-color: #eeeeee;
    padding: 5px 2px 5px 2px;
    color: #9f9f9f;
    font: 100 120% 'Open Sans', sans-serif;
}

.logo1 h2 {
    padding: 0px 150px 0px 150px;
}

.logo1 img {
    position: absolute;
    bottom: 0px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    max-width: 100%;
}

.logo1 p {
    margin: 0;
    padding: 0;
    width: 220px;
    position: absolute;
    bottom: 3%;
    left: 48%;
    font-size: 175%;
    color: white;
}

.logo1 {
    padding: 30px 0px 0px 0px;
    background-color: #f5f0ec;
    text-align: center;
}

.logo-verde1 {
    background-color: #79c268;
    height: 20px;
    position: relative;
    margin-top: 920px;
}

.logo-verde2 {
    background-color: #c5d747;
    min-height: 550px;
    position: relative;
}

.faixa-verde-logo h2 {
    margin: 0;
    padding: 0;
    font-size: 270%;
    font-weight: 900;
}

.faixa-verde-logo {
    background-color: #79c268;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 15px 0 10px 0;
}
.faixa-logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    margin-top: 30px;
}

.blocos-logo div p{
    margin: 0px;
    font-style: italic;
    font-size: 140%;
    font-weight: normal;
    padding: 0px 30px 0px 30px;
}
.blocos-logo div h3{
    margin: 0px;
    padding: 50px 30px 0px 30px;
    font-weight: 900;
}

.blocos-logo div{
    width: 24%;
    height: 540px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    float: left;
    color: #ffffff;
    font-family: "Open Sans";
}
.blocos-logo {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    overflow:hidden;
}

.bloco-roxo {
    background-color: #2e0928;
}

.bloco-vermelho {
    background-color: #da0000;
}

.bloco-laranja {
    background-color: #ff8b00;
}

.bloco-verde {
    background-color: #04756f;
}

.logo2 h2{
    padding: 0px 24% 0px 24%;
    text-align: center;
}

.logo2 {
    height: 100%;
    margin: 0 auto;
    display: block;
}

.logo3 {
    background-color: #0c2c3b;
    text-align: center;
    padding: 30px 20% 30px 20%;
    overflow: visible;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.clearfix {
    clear: both;
}

.logo4 h2 {
    padding: 20px 18% 20px 18%;
    text-align: center;
    font-weight: 100 !important;
}

.breafing h3:first-child{
    text-align: center;
}

.logo4 {
    padding: 10px 0 30px 0;
}

.breafing form{
    width: 50% !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.briefing-div div:last-child{
    float: right;
}
.briefing-div div:first-child{
    margin-right: 30px;
}

.briefing-div div{
    width: 48%;
    display: inline-block;
}

.radiogroup input{
    float: left !important;
}

.radiogroup{
    width: 100% !important;
}
.radiogroup input, .radiogroup label{
    display: inline-block !important;
    float: left !important;
    width: auto !important;
}

.radiogroup label{
    margin-right: 30px;
}

.breafing textarea{
    width: 100%;
    height: 220px;
}

.breafing input[type="button"]{
    width: auto !important;
}

.breafing {
    margin-bottom: 30px;
}

.rede-posicionar p{
    text-align: right;
    font: 900 120% 'Open Sans', sans-serif;
    color: #365c94;
    width: 70%;
    left: 100%;
    transform: translateX(-120%);
    position: relative;
}

.rede-posicionar img:first-child{
    margin-top: -60px;
    width: 24%;
    height: auto;
}

.rede-quero-posicionar{
    width: 65%;
    height: auto;
    margin-bottom: 5px;
}

.rede-posicionar {
    padding: 10px 12% 50px 12%;
    border-bottom: 8px solid #365c94;
    border-top: 8px solid #365c94;
    background-color: #dae5e8;
    padding-bottom: 60px;
}



.redes-h2 {
    text-align: center;
    padding: 20px 8% 20px 8%;
}

.redes-agencia img:first-child{
    margin-top: -6%;
    width: 32%;
    height: auto;
}

.redes-agencia {
    padding: 10px 12% 50px 12%;
}

.redes-agencia-p {
    display: inline-block;
    vertical-align: top;
    font: 900 380% 'Open Sans', sans-serif;
    text-align: right;
    margin-top: 1%;
    margin-right: 8%;
    float: right;
    width: 60%;
}



.redes-bloco-text{
    color: white;
    font: 400 italic 125% 'Open Sans', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
}

.redes-bloco{
    width: 33%;
    display: table-cell;
    min-height: 250px;
    vertical-align: top;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-right: 8px solid white;
}

.redes-bloco:last-child{
    margin-right: 0px;
    border: 0px;
}

.redes-blocos {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: table;
}

.bloco-marrom {
    background-color: #713b19;
}

.bloco-vermelho-claro {
    background-color: #da3b1b;
}

.bloco-laranja-claro {
    background-color: #e4902d;
}

.redes-circulo p{
    position: relative;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font: 900 200% "Open Sans", sans-serif;
}

.redes-circulo {
    background-color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    display: inline-block;
    margin-right: 8px;
}

.redes-titulo-bloco {
    color: white;
    display: inline-block;
    font: 900 250% 'Open Sans', sans-serif;
    margin: 0px;
    transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
}

.redes-header-bloco {
    padding: 20px 20px 0 20px;
}
