
header {
    width: 100%;
    background-color:#fafafa;
    padding-top: 5px;
    padding-bottom: 10px;
    height: 110px;
}

.container-menu{
    margin-right: 10%;
    float: right;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

@media screen and (max-width: 1024px){
    .container-menu{
        margin: auto !important;
        float: none !important;
        top: 0 !important;
        width: 100% !important;
    }

    .logo{
        float: none !important;
        position: relative !important;
        display: block;
/*        display: none;*/
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
        width: 100% !important;
        height: auto !important;
        left: 50%;
    }

    .logo img{
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    .icons{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        display: block !important;
/*        display: none;*/
        float: left;
        position: relative;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    .small-icons{
        display: block !important;
        width: auto;
        float: left;
        left:0;
        position: absolute;
        margin-top: 60px;
/*        position: relative !important;*/
        left: 50%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    .small-icons img{
        display: inline-block !important;
/*        display: none;*/
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    header{
        height: 200px;
        margin: 0 auto;
        left: 50%;
/*        display: none;*/
    }
}

.logo{
    margin-left: 10%;
/*    margin-top: 5px;*/
    vertical-align: middle;
    width: 15.6%;
    height: auto !important;
    float: left;
}

body {
    padding: 0px;
    margin: 0px;
}

.banner_home {
    width: 100%;
}

.icons{
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.icons img {
    margin-right: 30px;
    vertical-align: middle;
}

.small-icons img{
    display: block;
    position: relative;
}

.small-icons img:first-child{
    margin-bottom: 10px;
}

.small-icons img:last-child{
    margin-top: 10px;
}

.small-icons {
    display: inline-block;
    vertical-align: middle;
}
